.destination-array {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .destination-array {
    flex-direction: column;
  }
}

.content {
  padding-bottom: 2em;
}
